/* opacity: 0.6; */

.swiper-slide {
  opacity: 0;
  transform: scale(0.85);
  transition: all 0.3s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.4;
  z-index: 5;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  border-radius: 0.75rem;
  opacity: 0.3 !important;
}

.swiper {
  padding-bottom: 100px !important;
  overflow: visible !important;
}

@media (max-width: 574px) {
  .swiper-slide {
    padding-inline: 16px;
  }
}
